:root {
    --primary-color: #4A90E2;
    --user-message-bg: #dcf8c6;
    --assistant-message-bg: #ebebeb;
    --background-color: #f0f0f0;
    --input-background-color: #ffffff;
    --border-radius: 20px;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: #333;
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 40px);
    max-width: 600px;
    margin: 20px auto;
    background: var(--input-background-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 20px;
    box-sizing: border-box;
}

.chat-title {
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

#chat-messages::-webkit-scrollbar {
    width: 5px;
}

#chat-messages::-webkit-scrollbar-track {
    background: var(--background-color);
}

#chat-messages::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

#chat-input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--shadow);
    position: relative;
}

#chat-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.5);
}

.message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
}

.user-message {
    margin-left: auto;
    background-color: var(--user-message-bg);
}

.assistant-message {
    margin-right: auto;
    background-color: var(--assistant-message-bg);
}

#chat-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(7, 10, 134, 0.2);
}

.stop-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #777;
    cursor: pointer;
    border-radius: 50%;
}

.stop-icon:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #777;
}

.input-area {
    position: relative;
    display: flex;
    align-items: center;
}

.error-message {
    color: #a74848;
}